@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'rubik', sans-serif;
    font-weight: 450;
    margin: 0;
    padding: 0;
}

body {
    background: #abd1e6;
}

h1 {
    font-size: calc(20px + 1vw);
    text-decoration: underline;
}

h2 {
    font-size: calc(15px + 1vw);
    margin-bottom: /*20px*/1.32vw;
}

h3 {
    font-size: calc(10px + 1vw);
    margin-bottom: /*20px*/1.32vw;
}

p {
    font-size: calc(5px + 1vw);
}

a {
    color: deepskyblue;
}

table {
    /*border: solid 2px red;*/
    width: 100%;
}

table td {
    /*border: solid 2px green;*/
    padding-bottom: /*30px*/1.98vw;
}

header {
    /*border: solid 2px red;*/
    width: 80vw;
    margin: /*30px*/1.98vw auto;
}

nav {
    /*border: solid 3px red;*/
    width: 15%; /* of wrapper */
    height: fit-content;
    background-color: darkcyan;
    padding-bottom: /*10px*/0.66vw;
    border-radius: /*30px*/1.98vw 0 0 /*30px*/1.98vw;
}

nav li {
    /*border: solid 2px red;*/
    list-style: none;
    text-align: left;
    margin: /*20px*/1.32vw 0;
    padding: 0 /*20px*/1.32vw;
}

nav a {
    font-size: calc(5px + 1vw);
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

nav a:hover {
    color: black;
}

main {
    width: 85%; /* of wrapper */
    background-color: rgb(255, 255, 255, 0.8);
    padding: /*30px*/1.98vw;
}

footer {
    text-align: center;
    width: 80vw;
    margin: /*30px*/1.98vw auto;
}

div.wrapper {
    /*border: solid 2px red;*/
    display: flex;
    flex-direction: row;
    width: 80vw;
    min-height: 100vh;
    margin: auto;
}

div.flexbox {
    /*border: solid 2px blue;*/
    display: flex;
    flex-direction: row;
    padding: 0;
}

div.textbox {
    padding: /*10px*/0.66vw /*20px*/1.32vw;
}

img.poster {
    object-fit: cover;
    width: 45%;
}

img.thumbnail {
    object-fit: cover;
    aspect-ratio: 16 / 9;
    width: 50%;
    height: auto;
}

/* homepage */

img.aquarium {
    width: 220px;
    margin-top: /*40px*/2.65vw;
}

/* documents page */

iframe#resume {
    width: 100%;
    aspect-ratio: 16 / 20;
}

iframe#psm {
    width: 100%;
    aspect-ratio: 16 / 14;
}

@media screen and (max-width: 1000px) {

    header {
        text-align: center;
        width: 90vw;
    }

    div.wrapper {
        width: 90vw;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 7vh;
        border-radius: /*30px*/1.98vw /*30px*/1.98vw 0 0;
    }

    nav li {
        /*border: solid 2px red;*/
        display: inline;
        padding: /*5px*/0.33vw;
    }

    nav a {
        background-color: darkblue;
        font-size: calc(8px + 1vw);
        padding: /*8px*/0.53vw /*10px*/0.66vw;
        border-radius: /*10px*/0.66vw;
    }

    main {
        width: 100%;
        min-height: 100vh;
    }

    div.wrapper {
        flex-direction: column;
    }

    div.flexbox {
        flex-direction: column;
        align-items: center;
    }

    div.textbox {
        width: 100%;
        margin-bottom: 30px;
        padding: 0;
    }

    img.poster {
        width: 60%;
    }

    img.thumbnail {
        width: 100%;
    }

    img {
        margin-bottom: 20px;
    }
}