@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'rubik', sans-serif;
    font-weight: 450;
}

body {
    background: #abd1e6;
}

h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

h3 {
    font-size: 23px;
    margin-bottom: 20px;
}

p {
    line-height: 25px;
    font-size: 20px;
}

header {
    width: 80vw;
    margin: 30px auto;
}

div.wrapper {
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 100vh;
    margin: auto;
    /*border: solid 2px red;*/
}

div.long {
    height: 270vh;
}

nav {
    /*border: solid 3px red;*/
    /*display: flex;*/
    /*justify-content: center;*/
    width: 15%;
    height: 100%;
    background-color: darkcyan;
    align-items: center;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

nav li {
    list-style: none;
    text-align: left;
    margin: 20px auto;
    padding: 0 20px;
    /*display: inline;*/
    /*padding: 0 50px;*/
    /*border: solid 2px red;*/
}

nav a {
    font-size: 20px;
    text-decoration: none;
    color: white;
}

main {
    width: 85%;
    background-color: rgb(255 255 255 / 0.8);
    padding: 30px;
}

footer {
    width: 80vw;
    margin: 30px auto;
}

img.logo {
    width: 100px;
}

table {
    /*border: solid 2px red;*/
    width: 100%;
}

table td {
    padding-bottom: 30px;
    /*border: solid 2px green;*/
}

div {
    /*border: solid 2px red;*/
}

div.flexbox {
    display: flex;
    flex-direction: row;
    text-align: left;
    /*flex-direction: column;*/
    /*text-align: center;*/
    /*margin-top: 30px;*/
    padding: 0;
    /*border: solid 2px blue;*/
}

div.textbox {
    padding: 10px 20px;
}

/* Home */

img#me {
    object-fit: cover;
    width: 400px;
    /*border: solid 3px red;*/
}

/* Documents */

iframe#resume {
    width: 100%;
    height: 1200px;
}

iframe#psm {
    width: 100%;
    height: 820px;
}

/* Education */

img#cds {
    width: 400px;
}