<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <header>
        <h1>My Education</h1>
        <p>Where I went to school</p>
    </header>

    <nav>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="education.html">Education</a></li>
            <li><a href="skills.html">Skills</a></li>
            <li><a href="work.html">Work Experience</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="leadership.html">Leadership</a></li>
        </ul>
    </nav>

    <main>
        <img src="../static/img/rcs.png" alt="richmond christian school logo" style="width:200px">
        <h2>Richmond Christian School (Secondary Campus)</h2>
        <h3>September 2019 - June 2022</h3>

        <p>My high school!</p>

        <img src="../static/img/bu.webp" alt="boston university logo" style="width:200px">
        <h2>Boston University</h2>
        <h3>September 2022 - December 2026</h3>

        <p>My college!</p>

        <h1>Certifications</h1>
        <h2>Professional Scrum Master I&trade;</h2>
    </main>

    <footer>
        <p>All rights reserved by Yi Ji Wang. <a href="">Credits</a> &copy;</p>
    </footer>
</body>
</html>