<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <header>

    </header>

    <nav>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="education.html">Education</a></li>
            <li><a href="skills.html">Skills</a></li>
            <li><a href="work.html">Work Experience</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="leadership.html">Leadership</a></li>
        </ul>
    </nav>

    <main>
        <h2>Board Games Club</h2>
        <h4>at Boston University!</h4>

        <p>desc</p>
    </main>

    <footer>
        <p>All rights reserved by Yi Ji Wang. <a href="">Credits</a> &copy;</p>
    </footer>
</body>
</html>